<ng-container>
  <div class="modal-header">
    <h4 class="modal-title">{{ title }}</h4>

    <button type="button" class="close" aria-label="Close" (click)="actifmodal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>


  <ng-container *ngIf="this.type==='EMPLOYEE'">

    <div class="modal-body">
      <div class="view-info">
        <div class="row">
          <div class="col-lg-12">
            <div class="general-info">
              <div class="row">
                <div class="col-lg-12 col-xl-12">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <tbody>
                        <tr>
                          <th scope="row">Email</th>
                          <td>
                            <h5>{{ this.payload.email }}</h5>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Phone</th>
                          <td>
                            <h5>{{ this.payload.phone }}</h5>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Address</th>
                          <td>
                            <h5>{{ this.payload.address }}</h5>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Birth date</th>
                          <td>
                            <h5>{{ this.payload.birthdate|date:'dd/MM/yyyy' }}</h5>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- end of table col-lg-6 -->
              </div>
              <!-- end of row -->
            </div>
            <!-- end of general info -->
          </div>
          <!-- end of col-lg-12 -->
        </div>
        <!-- end of row -->
      </div>
    </div>
  </ng-container>

  <ng-container *ngIf="this.type==='TAX'">
    <div class="modal-body">
      <div class="view-info">
        <div class="row">
          <div class="col-lg-12">
            <div class="general-info">
              <div class="row">
                <div class="col-lg-12 col-xl-12">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <tbody>
                        <tr>
                          <th scope="row">Description</th>
                          <td>
                            <h5>{{ this.payload.description }}</h5>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Agency name</th>
                          <td>
                            <h5>{{ this.payload.agency_name }}</h5>
                          </td>
                        </tr>

                        <tr>
                          <th scope="row">Filling Frequency</th>
                          <td>
                            <h5>{{ this.payload.filling_frequency }}</h5>
                          </td>
                        </tr>
                         <tr>
                          <th scope="row">Collection Type</th>
                          <td>
                            <h5>{{ this.payload.collection_type }}</h5>
                          </td>
                        </tr>

                        <tr *ngIf="this.payload.businessNo">
                          <th scope="row">Business No</th>
                          <td>
                            <h5>{{ this.payload.businessNo }}</h5>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- end of table col-lg-6 -->
              </div>
              <!-- end of row -->
            </div>
            <!-- end of general info -->
          </div>
          <!-- end of col-lg-12 -->
        </div>
        <!-- end of row -->
      </div>
    </div>
  </ng-container>
  
  <ng-container *ngIf="this.type==='PRODUCTS'">
    <div class="modal-body">
      <div class="view-info">
        <div class="row">
          <div class="col-lg-12">
            <div class="general-info">
              <div class="row">
                <div class="col-lg-12 col-xl-12">
                  <div class="table-responsive">
                    <table class="table m-0">
                      <tbody>
                        <tr>
                          <th scope="row">Product Ref</th>
                          <td>
                            <h5>{{ this.payload.ref }}</h5>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Product Name	</th>
                          <td>
                            <h5>{{ this.payload.name }}</h5>
                          </td>
                        </tr>

                       <tr>
                          <th scope="row">Product Description</th>
                          <td>
                            <h5>{{ this.payload.description }}</h5>
                          </td>
                        </tr>
                        <tr>
                          <th scope="row">Product Quantity</th>
                          <td>
                            <h5>{{ this.payload.quantity }}</h5>
                          </td>
                        </tr>
                         <tr>
                          <th scope="row">Product Sale price	</th>
                          <td>
                            <h5>{{ this.payload.sale_price }}</h5>
                          </td>
                        </tr>

                        <tr >
                          <th scope="row">Product Tax</th>
                          <td>
                            <h5>{{ this.payload.tax }}</h5>
                          </td>
                        </tr>

                        <!--  -->
                        <tr >
                          <th scope="row">Accounting plan Ref</th>
                          <td>
                            <h5>{{ this.payload.id_accounting_plan }}</h5>
                          </td>
                        </tr>



                      </tbody>
                    </table>
                  </div>
                </div>

                <!-- end of table col-lg-6 -->
              </div>
              <!-- end of row -->
            </div>
            <!-- end of general info -->
          </div>
          <!-- end of col-lg-12 -->
        </div>
        <!-- end of row -->
      </div>
    </div>
  </ng-container>
  <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark" (click)="actifmodal.close('Close click')">
      Close
    </button>
  </div>
</ng-container>
