<!-- Page-header start -->
<div class="">
    <div class="page-header card">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <div class="page-header-title">
            <span><i class="icofont icofont-home bg-c-pink"></i></span>
            <div class="d-inline">
              <span class="d-block"><h4>Taxes</h4></span>
              <span>Liste des Taxes</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="'/'">
                  <i class="icofont icofont-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
  
                <a>Home/Taxe</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Hello card'">
        <!-- <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-4">
                      <button type="button"  class="btn btn-primary offset-10">Danger</button>
            </div>
          </div>
        </div> -->
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-1">
            </div>

            <div class="col-md-12 col-lg-4 offset-lg-4">

              <div class="input-group">
                <button type="button"  class="btn btn-primary " (click)="this.openAdd()">add</button>
              </div>
            </div>
          </div>
        </div>

<!-- 
 -->
 <div class="table-responsive mt-3">
        <table class="table" style="text-align:center;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Ref°</th>
              <th scope="col">Code taxe</th>
              <th scope="col">Intitule</th>
              <th scope="col">Compte taxe</th>
              <th scope="col">Type de taxe</th>
              <th scope="col">sens</th>
              <th scope="col">Taux en pourcentage</th>
              <th scope="col">Numero</th>

            </tr>
          </thead>
          <tbody *ngFor="let item of this.list_taxe">
            <tr>
              <th scope="row">{{item.id_taxe}}</th>
              <td>{{item.code_taxe}}</td>
              <td>{{item.intitule}}</td>
              <td>{{item.compte_taxe}}</td>
              <td>{{item.type_de_taxe}}</td>
              <td>{{item.sens}}</td>
              <td>{{item.taux_pourcentage}}</td>
              <td>{{item.numero}}</td>
              
              <td>
                <button type="button" class="btn btn-warning" (click)="this.openUpdate(item)">update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" (click)="this.opendelete(item.id_taxe)" >delete</button>
              </td>

            </tr>

          </tbody>
        </table>
      </div>

      </app-card>
    </div>
  </div>
  