<ng-container>
  <div class="modal-header">
    <h4 class="modal-title">{{ this.title }}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>

  <div class="modal-body">
    <!-- COMPANY -->
    <ng-container *ngIf="this.type==='COMPANY'">
      <form name="fedit" (ngSubmit)="onSubmit(fedit)" #fedit="ngForm" novalidate>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-presentation"></i></label></span>
          <input type="text" class="form-control" [(ngModel)]="this.payload.name" placeholder="Name" name="name" ngModel
            #name="ngModel" required />
        </div>
        <div *ngIf="name.invalid && name.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter company name !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-company"></i></label></span>
          <input type="text" class="form-control" [(ngModel)]="this.payload.domain" placeholder="Domain" name="domain"
            ngModel #domain="ngModel" required />
        </div>
        <div *ngIf="domain.invalid && domain.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter company domain !</span>
        </div>


        <div class="modal-footer">
          <input value="Confirm" [disabled]="fedit.invalid" type="submit" class="btn btn-outline-primary" />
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
            Cancel
          </button>
        </div>
      </form>
    </ng-container>

    <!-- EMPLOYEE -->
    <ng-container *ngIf="this.type==='EMPLOYEE'">
      <form name="fedit" (ngSubmit)="onSubmit(fedit)" #fedit="ngForm" novalidate>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-presentation"></i></label></span>
          <input type="text" class="form-control" placeholder="Fullname" name="fullname"
            [(ngModel)]="this.payload.fullname" #fullname="ngModel" required />
        </div>
        <div *ngIf="fullname.invalid && fullname.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter fullname !</span>
        </div>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-presentation"></i></label></span>
          <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="this.payload.email"
            #email="ngModel" required />
        </div>
        <div *ngIf="email.invalid && email.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter email !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-presentation"></i></label></span>
          <input type="text" class="form-control" placeholder="Address" name="address"
            [(ngModel)]="this.payload.address" #address="ngModel" required />
        </div>
        <div *ngIf="address.invalid && address.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter address !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-presentation"></i></label></span>
          <input type="tel" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="this.payload.phone"
            #phone="ngModel" required />
        </div>
        <div *ngIf="phone.invalid && phone.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter phone !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-presentation"></i></label></span>
          <input type="text" class="form-control" placeholder="Salary" name="salary" [(ngModel)]="this.payload.salary"
            #salary="ngModel" required />
        </div>
        <div *ngIf="salary.invalid && salary.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter salary !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-calendar"></i></label></span>
          <input class="form-control textbox-n" [type]="birthdateinputype" placeholder="Birthdate"
            onkeydown="return false" name="birthdate" [ngModel]="this.payload.birthdate|date:'yyyy-MM-dd'"
            #birthdate="ngModel" required (click)="setinputtype($event,'birthdate')"
            max="{{ this.actualDate | date: 'yyyy-MM-dd' }}" />
        </div>
        <div *ngIf="birthdate.invalid && birthdate.touched" class="alert alert-danger p-2" role="alert">
          <spna>Enter birthdate !</spna>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-calendar"></i></label></span>
          <input class="form-control" [type]="hiredateinputype" placeholder="Hire date" onkeydown="return false"
            name="hiredate" [ngModel]="this.payload.hiredate|date:'yyyy-MM-dd'" #hiredate="ngModel"
            (click)="setinputtype($event,'hiredate')" required min="{{ birthdate.value | date: 'yyyy-MM-dd' }}" />
        </div>

        <div *ngIf="hiredate.invalid && hiredate.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter hiredate !</span>
        </div>

        <!-- <div class="input-group">
        <span class="input-group-prepend"><label class="input-group-text"><i
              class="icofont icofont-brand-myspace"></i></label></span>
        <select [(ngModel)]="this.payload.id_company" #id_company="ngModel" name="id_company" class="form-control"
          required>

          <option *ngFor="let company of this.companyList" [value]="company.id_company">
            {{company.name}}
          </option>
        </select>
      </div> -->

        <div class="form-check form-check-inline">
          <input class="form-check-input" [checked]="this.payload.gender==='F'" [(ngModel)]="this.payload.gender"
            #gender="ngModel" type="radio" name="gender" id="F" value="F">
          <label class="form-check-label" for="inlineRadio1">Female</label>
        </div>
        <div class="form-check form-check-inline">
          <input class="form-check-input" [checked]="this.payload.gender==='M'" [(ngModel)]="this.payload.gender"
            #gender="ngModel" type="radio" name="gender" id="M" value="M">
          <label class="form-check-label" for="inlineRadio2">Male</label>
        </div>

        <div class="modal-footer">
          <input value="Confirm" [disabled]="fedit.invalid" type="submit" class="btn btn-outline-primary" />
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
            Cancel
          </button>
        </div>
      </form>
    </ng-container>

    <!-- ACCOUNTING PLAN -->
    <ng-container *ngIf="this.type==='ACCOUNTING_PLAN_ROW'">
      <form name="fedit" (ngSubmit)="onSubmit(fedit)" #fedit="ngForm" novalidate>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-presentation"></i></label></span>
          <input type="number" min="0" class="form-control" [(ngModel)]="this.payload.account_number"
            placeholder="Account number" name="account_number" ngModel #account_number="ngModel" required />
        </div>
        <div *ngIf="account_number.invalid && account_number.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter account number !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-company"></i></label></span>
          <input type="text" class="form-control" [(ngModel)]="this.payload.description" placeholder="Description"
            name="description" ngModel #domain="ngModel" required />
        </div>
        <div *ngIf="domain.invalid && domain.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter description !</span>
        </div>
        <div class="modal-footer">
          <input value="Confirm" [disabled]="fedit.invalid" type="submit" class="btn btn-outline-primary" />
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
            Cancel
          </button>
        </div>
      </form>
    </ng-container>

    <!-- TAX -->
    <ng-container *ngIf="this.type==='TAX'">
      <form name="fedit" (ngSubmit)="onSubmit(fedit)" #fedit="ngForm" novalidate>
        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-presentation"></i></label></span>
          <input type="text" class="form-control" [(ngModel)]="this.payload.name" placeholder="Name" name="name" ngModel
            #name="ngModel" required />
        </div>
        <div *ngIf="name.invalid && name.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter tax name !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-company"></i></label></span>
          <input type="text" class="form-control" [(ngModel)]="this.payload.description" placeholder="Description"
            name="description" ngModel #description="ngModel" required />
        </div>
        <div *ngIf="description.invalid && description.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter description !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-company"></i></label></span>
          <input type="text" class="form-control" [(ngModel)]="this.payload.agency_name" placeholder="Agency Name"
            name="agency_name" ngModel #agency_name="ngModel" required />
        </div>
        <div *ngIf="agency_name.invalid && agency_name.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter agency name !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-company"></i></label></span>
          <input type="number" class="form-control" [(ngModel)]="this.payload.businessNo" placeholder="Business No"
            name="businessNo" ngModel #businessNo="ngModel" />
        </div>
        <!-- <div *ngIf="businessNo.invalid && businessNo.touched" class="alert alert-danger p-2" role="alert">
        <span>Enter business No !</span>
      </div> -->

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-company"></i></label></span>
          <input type="date" class="form-control" [ngModel]="this.payload.start_period|date : 'yyyy-MM-dd'"
            name="start_period" ngModel #start_period="ngModel" required />
        </div>
        <div *ngIf="start_period.invalid && start_period.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter start period !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-company"></i></label></span>
          <input type="text" class="form-control" [(ngModel)]="this.payload.filling_frequency"
            placeholder="Filling Frequency" name="filling_frequency" ngModel #filling_frequency="ngModel" required />
        </div>
        <div *ngIf="filling_frequency.invalid && filling_frequency.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter filling frequency !</span>
        </div>

        <div class="input-group">
          <span class="input-group-prepend"><label class="input-group-text"><i
                class="icofont icofont-company"></i></label></span>
          <input type="text" class="form-control" [(ngModel)]="this.payload.collection_type"
            placeholder="Collection Type" name="collection_type" ngModel #collection_type="ngModel" required />
        </div>
        <div *ngIf="collection_type.invalid && collection_type.touched" class="alert alert-danger p-2" role="alert">
          <span>Enter collection type !</span>
        </div>

        <div class="modal-footer">
          <input value="Confirm" [disabled]="fedit.invalid" type="submit" class="btn btn-outline-primary" />
          <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
            Cancel
          </button>
        </div>
      </form>
    </ng-container>
<!-- ///** -->


<ng-container *ngIf="this.type==='CUSTOMER'">
  <form name="fedit" (ngSubmit)="onSubmit(fedit)" #fedit="ngForm" novalidate>
    <div class="input-group">
      <span class="input-group-prepend"><label class="input-group-text"><i
            class="icofont icofont-presentation"></i></label></span>
      <input type="text" class="form-control" placeholder="Fullname" [(ngModel)]="this.payload.fullname" name="fullname" ngModel #fullname="ngModel" required />
    </div>
    <div *ngIf="fullname.invalid && fullname.touched" class="alert alert-danger p-2" role="alert">
      <span>Enter fullname !</span>
    </div>
    <div class="input-group">
      <span class="input-group-prepend"><label class="input-group-text"><i
            class="icofont icofont-presentation"></i></label></span>
      <input type="email" class="form-control" placeholder="Email" name="email" [(ngModel)]="this.payload.email"  ngModel #email="ngModel" required />
    </div>
    <div *ngIf="email.invalid && email.touched" class="alert alert-danger p-2" role="alert">
      <span>Enter email !</span>
    </div>

    <div class="input-group">
      <span class="input-group-prepend"><label class="input-group-text"><i
            class="icofont icofont-presentation"></i></label></span>
      <input type="tel" class="form-control" placeholder="Phone" name="phone" [(ngModel)]="this.payload.phone"  ngModel #phone="ngModel" required />
    </div>
    <div *ngIf="phone.invalid && phone.touched" class="alert alert-danger p-2" role="alert">
      <span>Enter phone !</span>
    </div>

    <div class="input-group">
      <span class="input-group-prepend"><label class="input-group-text"><i
            class="icofont icofont-presentation"></i></label></span>
      <input type="text" class="form-control" placeholder="Address" name="address"  [(ngModel)]="this.payload.address" ngModel #address="ngModel"
        required />
    </div>
    <div *ngIf="address.invalid && address.touched" class="alert alert-danger p-2" role="alert">
      <span>Enter address !</span>
    </div>

    <div class="input-group">
      <span class="input-group-prepend"><label class="input-group-text"><i
            class="icofont icofont-presentation"></i></label></span>
      <input type="text" class="form-control" placeholder="company name" name="company_name" [(ngModel)]="this.payload.company_name"  ngModel #company_name="ngModel"
        required />
    </div>
    <div *ngIf="company_name.invalid && company_name.touched" class="alert alert-danger p-2" role="alert">
      <span>Enter company name !</span>
    </div>
    
    <div class="input-group">
      <span class="input-group-prepend"><label class="input-group-text"><i
            class="icofont icofont-brand-myspace"></i></label></span>
      <!-- <select ngModel="{{ '-1' }}"  [(ngModel)]="payment_method" name="payment_method" class="form-control" required> -->
        <select #payment_method="ngModel" name="payment_method" class="form-control"  [(ngModel)]=" this.payload.payment_method" required>

          <option value="credit_cards">Credit cards</option>
          <option value="bank_check">Bank check</option>      
           <option value="cash_payment">Cash payment</option>
        </select>
    </div> 

    <div class="modal-footer">
      <input value="Confirm" [disabled]="fedit.invalid" type="submit"
        class="btn btn-outline-primary" />
      <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">
        Cancel
      </button>
    </div>
  </form>
</ng-container>

<!-- ****** -->
  </div>
</ng-container>
