<div class="modal-header">
    <h4 class="modal-title">{{this.titre}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form" name="form" #f="ngForm" (ngSubmit)="this.addupdate(f)">
  <div class="modal-body">

        <div *ngIf=" this.action=='update'" class="form-group">
            <label for="exampleFormControlInput1">ID Taxe</label>
            <input disabled  type="text" class="form-control" id="exampleFormControlInput1" name="id_taxe" [(ngModel)]="this.model.id_taxe" #id_taxe="ngModel" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Code taxe</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="code_taxe" name="code_taxe" [(ngModel)]="this.model.code_taxe" #code_taxe="ngModel" required>
            <div *ngIf="(code_taxe.invalid && code_taxe.touched)" class="alert alert-danger p-2" role="alert">
                Saisir Code taxe
        </div>
        </div>
         <div class="form-group">
                <label for="exampleFormControlInput1">Intitule</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="intitule..." name="intitule" [(ngModel)]="this.model.intitule" #intitule="ngModel" required>
                <div *ngIf="(intitule.invalid && intitule.touched)" class="alert alert-danger p-2" role="alert">
                    Saisir Intitule
                  </div>  
         </div> 
        <div class="form-group">
                    <label for="exampleFormControlInput1">Compte taxe</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="compte_taxe..." name="compte_taxe" [(ngModel)]="this.model.compte_taxe" #compte_taxe="ngModel" required>
                    <div *ngIf="(compte_taxe.invalid && compte_taxe.touched)" class="alert alert-danger p-2" role="alert">
                        Saisir Compte taxe
                      </div>
        </div>   
        <div class="form-group">
                    <label for="exampleFormControlInput1">Type de taxe</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="type_de_taxe..." name="type_de_taxe" [(ngModel)]="this.model.type_de_taxe" #type_de_taxe="ngModel" required>
                    <div *ngIf="(type_de_taxe.invalid && type_de_taxe.touched)" class="alert alert-danger p-2" role="alert">
                          Saisir Type de taxe
                      </div>
        </div>
         <div class="form-group">
                    <label for="exampleFormControlInput1">Sens</label>
                     <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="sens..." name="sens" [(ngModel)]="this.model.sens" #sens="ngModel" required>
                    <div *ngIf="(sens.invalid && sens.touched)" class="alert alert-danger p-2" role="alert">
                       Saisir Sens
                     </div>
        </div>
        <div class="form-group">

                    <label for="exampleFormControlInput1">Taux en pourcentage</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="taux_pourcentage..." name="taux_pourcentage" [(ngModel)]="this.model.taux_pourcentage" #taux_pourcentage="ngModel" required>
                     <div *ngIf="(taux_pourcentage.invalid && taux_pourcentage.touched)" class="alert alert-danger p-2" role="alert">
                                    Saisir Taux en pourcentage
                     </div>
                     
        </div>
        <div class="form-group">

          <label for="exampleFormControlInput1">numero</label>
          <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="numero..." name="numero" [(ngModel)]="this.model.numero" #numero="ngModel" required>
           <div *ngIf="(numero.invalid && numero.touched)" class="alert alert-danger p-2" role="alert">
                          Saisir numero
           </div>
           
</div>
        
  
   
  </div>
  <div class="modal-footer">
    <button *ngIf=" this.action=='add'" type="submit" class="btn btn-primary">add</button>
    <button *ngIf=" this.action=='update'" type="submit" class="btn btn-warning">update</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>

  </div> </form>
  