<!-- Page-header start -->
<div class="">
    <div class="page-header card">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <div class="page-header-title">
            <span><i class="icofont icofont-home bg-c-pink"></i></span>
            <div class="d-inline">
              <span class="d-block"><h4>test</h4></span>
              <span>sous test</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="'/'">
                  <i class="icofont icofont-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
  
                <a>ABC</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Hello card'">
       <button >dali</button>
      </app-card>
    </div>
  </div>
  