<div class="modal-header">
    <h4 class="modal-title">{{this.titre}}</h4>
    <button type="button" class="close" aria-label="Close" (click)="activeModal.dismiss('Cross click')">
      <span aria-hidden="true">&times;</span>
    </button>
  </div>
  <form class="form" name="form" #f="ngForm" (ngSubmit)="this.addupdate(f)">
  <div class="modal-body">

        <div *ngIf=" this.action=='update'" class="form-group">
            <label for="exampleFormControlInput1">ID Plan Comptable</label>
            <input disabled  type="text" class="form-control" id="exampleFormControlInput1" name="id_comptable" [(ngModel)]="this.model.id_comptable" #id_comptable="ngModel" >
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Nom du fichier</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nom du fichier" name="nom_du_fichier" [(ngModel)]="this.model.nom_du_fichier" #nom_du_fichier="ngModel" required>
            <div *ngIf="(nom_du_fichier.invalid && nom_du_fichier.touched)" class="alert alert-danger p-2" role="alert">
                Saisir la Nom du fichier
        </div>
        </div>
         <div class="form-group">
                <label for="exampleFormControlInput1">Type de donnees</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="type_de_donnees..." name="type_de_donnees" [(ngModel)]="this.model.type_de_donnees" #type_de_donnees="ngModel" required>
                <div *ngIf="(type_de_donnees.invalid && type_de_donnees.touched)" class="alert alert-danger p-2" role="alert">
                    Saisir le Type de donnees
                  </div>  
         </div> 
        <div class="form-group">
                    <label for="exampleFormControlInput1">Intitule</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="intitule..." name="intitule" [(ngModel)]="this.model.intitule" #intitule="ngModel" required>
                    <div *ngIf="(intitule.invalid && intitule.touched)" class="alert alert-danger p-2" role="alert">
                        Saisir Intitule
                      </div>
        </div>   
        <div class="form-group">
                    <label for="exampleFormControlInput1">Numero compte</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="numero_compte..." name="numero_compte" [(ngModel)]="this.model.numero_compte" #numero_compte="ngModel" required>
                    <div *ngIf="(numero_compte.invalid && numero_compte.touched)" class="alert alert-danger p-2" role="alert">
                          Saisir Numero compte
                      </div>
        </div>
         <div class="form-group">
                    <label for="exampleFormControlInput1">Type de fichier</label>
                     <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="type_de_fichier..." name="type_de_fichier" [(ngModel)]="this.model.type_de_fichier" #type_de_fichier="ngModel" required>
                    <div *ngIf="(type_de_fichier.invalid && type_de_fichier.touched)" class="alert alert-danger p-2" role="alert">
                       Saisir Type de fichier
                     </div>
        </div>
        <div class="form-group">
                    <label for="exampleFormControlInput1">Delimiteur Enregistrement</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="delimiteur_enregistrement..." name="delimiteur_enregistrement" [(ngModel)]="this.model.delimiteur_enregistrement" #delimiteur_enregistrement="ngModel" required>
                     <div *ngIf="(delimiteur_enregistrement.invalid && delimiteur_enregistrement.touched)" class="alert alert-danger p-2" role="alert">
                                    Saisir Delimiteur Enregistrement
                     </div>
        </div>
        <div class="form-group">
                    <label for="exampleFormControlInput1">Delimiteur Champ</label>
                    <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="delimiteur_champ..." name="delimiteur_champ" [(ngModel)]="this.model.delimiteur_champ" #delimiteur_champ="ngModel" required>
                    <div *ngIf="(delimiteur_champ.invalid && delimiteur_champ.touched)" class="alert alert-danger p-2" role="alert">
                            Saisir Delimiteur Champ
                     </div>
        </div>
        <div class="form-group">
                    <label for="exampleFormControlInput1">Origine fichier</label>
                   <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="origine_fichier..." name="origine_fichier" [(ngModel)]="this.model.origine_fichier" #origine_fichier="ngModel" required>
                    <div *ngIf="(origine_fichier.invalid && origine_fichier.touched)" class="alert alert-danger p-2" role="alert">
                      Saisir Origine fichier
                    </div>
                </div>
        <div class="form-group">
                <label for="exampleFormControlInput1">Nombre de decimales</label>
                 <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="nombre_de_decimales" name="nombre_de_decimales" [(ngModel)]="this.model.nombre_de_decimales" #nombre_de_decimales="ngModel" required>
                 <div *ngIf="(nombre_de_decimales.invalid && nombre_de_decimales.touched)" class="alert alert-danger p-2" role="alert">
                  Saisir Nombre de decimales
                </div>
        </div>
        <div class="form-group">
                <label for="exampleFormControlInput1">Separateur decimales</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="separateur_decimales..." name="separateur_decimales" [(ngModel)]="this.model.separateur_decimales" #separateur_decimales="ngModel" required>
                <div *ngIf="(separateur_decimales.invalid && separateur_decimales.touched)" class="alert alert-danger p-2" role="alert">
                 Saisir Separateur decimales
                </div>
        </div>
        <div class="form-group">
                <label for="exampleFormControlInput1">Cadrage</label>
                <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="cadrage..." name="cadrage" [(ngModel)]="this.model.cadrage" #cadrage="ngModel" required>
                 <div *ngIf="(cadrage.invalid && cadrage.touched)" class="alert alert-danger p-2" role="alert">
                 Saisir Cadrage
                </div>
        </div>
    
        <div class="form-group">
                <label for="exampleFormControlInput1">Separateur miliers</label>
                 <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="separateur_miliers" name="separateur_miliers" [(ngModel)]="this.model.separateur_miliers" #separateur_miliers="ngModel" required>
                 <div *ngIf="(separateur_miliers.invalid && separateur_miliers.touched)" class="alert alert-danger p-2" role="alert">
                        Saisir Separateur miliers
                 </div>
        </div>
        <div class="form-group">
                <label for="exampleFormControlInput1">Caractere remplissage </label>
                 <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="caractere_remplissage" name="caractere_remplissage" [(ngModel)]="this.model.caractere_remplissage" #caractere_remplissage="ngModel" required>
                 <div *ngIf="(caractere_remplissage.invalid && caractere_remplissage.touched)" class="alert alert-danger p-2" role="alert">
                    Caractere remplissage
                 </div>
        </div>
        <div class="form-group">
                <label for="exampleFormControlInput1">Debut enregistrement </label>
                 <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="debut_enregistrement" name="debut_enregistrement" [(ngModel)]="this.model.debut_enregistrement" #debut_enregistrement="ngModel" required>
                <div *ngIf="(debut_enregistrement.invalid && debut_enregistrement.touched)" class="alert alert-danger p-2" role="alert">
                    Debut enregistrement
                 </div>
       
        </div>
        <div class="form-group">
            <label for="exampleFormControlInput1">Entete du fichier</label>
            <input type="text" class="form-control" id="exampleFormControlInput1" placeholder="entete_du_fichier" name="entete_du_fichier" [(ngModel)]="this.model.entete_du_fichier" #entete_du_fichier="ngModel" required>
            <div *ngIf="(entete_du_fichier.invalid && entete_du_fichier.touched)" class="alert alert-danger p-2" role="alert">
                Saisir la Domaine societe
              </div>
        </div>
        <div class="form-group">
          <select class="form-control"  (change)="getsociete($event)" [(ngModel)]="this.model.societe" name="societe" #societe="ngModel" required>
            <ng-container *ngFor="let r of this.listsociete ">
            <option [value]="r.id_societe">{{r.nom_societe}}</option>
           </ng-container>
          </select>
          <div *ngIf="(societe.invalid && societe.touched)" class="alert alert-danger p-2" role="alert">
            Id sociéte
            </div>
      </div>
   
  </div>
  <div class="modal-footer">
    <button *ngIf=" this.action=='add'" type="submit" class="btn btn-primary">add</button>
    <button *ngIf=" this.action=='update'" type="submit" class="btn btn-warning">update</button>
    <button type="button" class="btn btn-outline-dark" (click)="activeModal.close('Close click')">Fermer</button>

  </div> </form>
  