<div class="container-xxl py-5 wow fadeInUp" data-wow-delay="0.1s">
  <div class="container">
    <div class="text-center">
      <h6 class="section-title bg-white text-center text-primary px-3">Testemonies</h6>
      <h1 class="mb-5">Nos Etudiants !</h1>
    </div>
    <div class="position-relative">
      <owl-carousel-o [options]="quotesOptions">

        <ng-container *ngFor="let quote of quotes">
          <ng-template carouselSlide [id]="quote.id">
            <img class="border rounded-circle p-2 mx-auto mb-3" [src]="quote.img" style="width: 80px; height: 80px;">
            <div class="testimonial-item text-center">
              <h5 class="mb-0">Nom de l'etudiant</h5>
              <p>Profession</p>
              <div class="testimonial-text bg-light text-dark text-center p-4">
                <p class="mb-0">Beaucoup rêvent de succès. A mon sens, le succès ne peut être atteint qu’après une succession d’échecs et d’introspections. En fait, le succès représente 1% de votre travail qui comporte lui, 99% de ce qu’on peut appeler échec.</p>
              </div>
            </div>
          </ng-template>
        </ng-container>

      </owl-carousel-o>
    </div>
  </div>
</div>
