<!-- Page-header start -->
<div class="">
    <div class="page-header card">
      <div class="row align-items-end">
        <div class="col-lg-8">
          <div class="page-header-title">
            <span><i class="icofont icofont-home bg-c-pink"></i></span>
            <div class="d-inline">
              <span class="d-block"><h4>société</h4></span>
              <span>Liste des société</span>
            </div>
          </div>
        </div>
        <div class="col-lg-4">
          <div class="page-header-breadcrumb">
            <ul class="breadcrumb">
              <li class="breadcrumb-item">
                <a [routerLink]="'/'">
                  <i class="icofont icofont-home"></i>
                </a>
              </li>
              <li class="breadcrumb-item">
  
                <a>Home/société</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Page-header end -->
  
  <div class="row">
    <div class="col-sm-12">
      <app-card [title]="'Hello card'">
        <!-- <div class="container">
          <div class="row">
            <div class="col-md-12 col-lg-4">
                      <button type="button"  class="btn btn-primary offset-10">Danger</button>
            </div>
          </div>
        </div> -->
        <div class="container">
          <div class="row">
            <div class="col-md-6 col-lg-5 offset-lg-1">
            </div>

            <div class="col-md-12 col-lg-4 offset-lg-4">

              <div class="input-group">
                <button type="button"  class="btn btn-primary " (click)="this.openAdd()">add</button>
              </div>
            </div>
          </div>
        </div>

<!-- 
 -->
 <div class="table-responsive mt-3">
        <table class="table" style="text-align:center;">
          <thead class="thead-dark">
            <tr>
              <th scope="col">Ref°</th>
              <th scope="col">Nom societe</th>
              <th scope="col">Domaine societe</th>
              <th scope="col">Action</th>
            </tr>
          </thead>
          <tbody *ngFor="let item of this.list_socite">
            <tr>
              <th scope="row">{{item.id_societe}}</th>
              <td>{{item.nom_societe}}</td>
              <td>{{item.domaine_societe}}</td>
              <td>
                <button type="button" class="btn btn-warning" (click)="this.openUpdate(item)">update</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <button type="button" class="btn btn-danger" (click)="this.opendelete(item.id_societe)" >delete</button>
              </td>

            </tr>

          </tbody>
        </table>
      </div>

      </app-card>
    </div>
  </div>
  