<ng-container>
    <div class="page-header card" id="myheader">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <span><i class="icofont icofont-home" style="background-color: #000080"></i></span>
                    <div class="d-inline">
                        <span class="d-block text-primary">
                            <h4>Accounting Plan</h4>
                        </span>
                        <!-- <span class="text-dark">Accounting plan</span> -->
                    </div>
                </div>
            </div>
            <!-- <div class="col-lg-4">
                <div class="page-header-breadcrumb">
                    <ul class="breadcrumb">
                        <li class="breadcrumb-item">
                            <a [routerLink]="'/'">
                                <i class="icofont icofont-home" style="color: #000080"></i>
                            </a>
                        </li>
                        <li class="breadcrumb-item">
                            <a class="text-dark">Accounting Plan</a>
                        </li>
                    </ul>
                </div>
            </div> -->
        </div>
    </div>
    <!-- Page-header end -->

    <div class="row">
        <div class="col-lg-12">
            <div class="md-tabs">
                <div class="m-t-15">
                    <div class="card">
                        <div class="col-sm-12">
                            <div class="card-header">
                                <h5 class="card-header-text">Accounting Plan List</h5>
                                <div class="col-md-12 col-lg-3 offset-lg-10">
                                    <div class="pcoded-search">
                                        <div class="pcoded-search-box">
                                            <button class="btn btn-success" >
                                                <i class="icofont icofont-ui-add"></i>
                                                New
                                            </button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- Begin Table -->
                            <div class="table-responsive">
                                <div style="margin-bottom: 50px; margin-left: 50px; margin-right: 50px;">
                                    <table class="table table-hover">
                                        <thead>
                                            <tr style="text-align: center">
                                                <th scope="col">Photo</th>
                                                <th scope="col">
                                                    Hello
                                                </th>
                                                <th scope="col">
                                                    Hello
                                                </th>
                                                <th scope="col">
                                                    Hello
                                                </th>
                                                <th scope="col"> Actions</th>
                                            </tr>
                                        </thead>
                                        <ng-container>
                                            <tbody>
                                                <tr style="text-align: center">
                                                    <td>
                                                        <img class="user-img img-radius" id="profil-photo"
                                                            alt="photo-utilisateur" src="assets/images/avatar-7.jpg" />
                                                    </td>
                                                    <td scope="row">Hello </td>
                                                    <td scope="row"> Hello </td>
                                                    <td scope="row">
                                                        Hello
                                                    </td>
                                                    <td scope="row">
                                                        <button class="btn btn-warning" routerLink="" style="border-radius: 3px; margin-right: 3%;">
                                                            <i class="icofont icofont-ui-edit"></i>

                                                        </button>
                                                        <button class="btn btn-danger" routerLink="" style="border-radius: 3px;">
                                                            <i class="icofont icofont-ui-delete"></i>

                                                        </button>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </ng-container>
                                    </table>
                                </div>
                            </div>
                            <!-- </app-card> -->
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</ng-container>
