<ng-container>
    <div class="">
      <!-- Page-header start -->
      <div class="page-header card" id="myheader">
        <div class="row align-items-end">
            <div class="col-lg-8">
                <div class="page-header-title">
                    <span><i class="fas fa-user-tie" style="background-color: #000080"></i></span>
                    <div class="d-inline">
                        <span class="d-block text-primary">
                            <h4>Customer Page</h4>
                        </span>
                        <span class="text-dark">Customer Page</span>
                    </div>
                </div>
            </div>

        </div>
    </div>
    </div>
    <!-- Page-header end -->
    <div class="row">
      <div class="col-lg-12">
        <div class="md-tabs">
          <ngb-tabset (tabChange)="changeEtat($event)">
            <ngb-tab title="TOUTES LES OFFRES" [id]="0">
              <ng-template ngbTabContent>
                <div class="m-t-15">
                  <div class="card">
                    <div class="col-sm-12">
                      <div class="card-header">
                        <!-- <h5 class="card-header-text">Liste des offres</h5> -->
                      </div>
  
                      <div class="container">
                        <div class="row">
                          <!-- <div class="col-md-6 col-lg-4 offset-lg-1">
                            <div class="pcoded-search">
                              <div class="pcoded-search-box">
                                <input
                                  type="text"
                                  placeholder="Rechercher"
                                  name="search"
                                  [(ngModel)]="searchText"
                                  autocomplete="off"
                                />
                                <span class="search-icon"
                                  ><i class="ti-search" aria-hidden="true"></i
                                ></span>
                              </div>
                            </div>
                          </div> -->
  
                          <!-- <div class="col-md-6 col-lg-2 offset-lg-1">
                            <div class="input-group">
                              <select
                                ngModel="{{ this.year }}"
                                name="year"
                                class="form-control"
                                (change)="this.changeYear($event.target.value)"
                              >
  
                                <ng-container *ngFor="let item of this.listYears  ">
                                  <option [value]="item.year">{{ item.year }}</option>
                                </ng-container>
                              </select>
                            </div>
                          </div> -->
  
                          <!-- <div class="col-md-6 col-lg-3 offset-lg-1">
                            <div class="pcoded-search">
                              <div class="pcoded-search-box">
                                <button
                                  class="btn btn-primary"
                                  style="background-color: #294a70"
                                  [routerLink]="[
                                    '/dashboard/stage/entreprise/nouvelle'
                                  ]"
                                  name="addoffre"
                                  autocomplete="off"
                                >
                                  <i class="icofont icofont-ui-add"></i>
                                  Nouvelle offre
                                </button>
                              </div>
                            </div>
                          </div> -->
                        </div>
                      </div>
                      <div class="table-responsive">
                        <div style="margin: 5px; ">
                         
                          <!-- Alert message if Table is Empty -->
                          <!-- <div
                            class="d-flex justify-content-center"
                            *ngIf="!listStage?.length"
                          >
                            <div class="alert alert-light" role="alert">
                              <i class="icofont icofont-info-circle"></i>Il n'y a
                              aucune donnée pour le moment.
                            </div>
                          </div> -->
                          <!-- Pagination -->
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
  
            <ngb-tab title="OFFRES OUVERTES" [id]="1">
              <ng-template ngbTabContent>
                <div class="m-t-15">
                  <!-- info card start -->
                  <div class="card">
                    <div class="col-sm-12">
                      <div class="card-header">
                        <!-- <h5 class="card-header-text">Liste des offres</h5> -->
                      </div>
  
                      <div class="container">
                        <div class="row">
                          <!-- <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="pcoded-search">
                              <div class="pcoded-search-box">
                                <input
                                  type="text"
                                  placeholder="Rechercher"
                                  name="search"
                                  [(ngModel)]="searchText"
                                  autocomplete="off"
                                />
                                <span class="search-icon"
                                  ><i class="ti-search" aria-hidden="true"></i
                                ></span>
                              </div>
                            </div>
                          </div> -->
  
                          <!-- <div class="col-md-6 col-lg-3 offset-lg-2">
                            <div class="input-group">
                              <select
                                ngModel="{{ this.year }}"
                                name="year"
                                class="form-control"
                                (change)="this.changeYear($event.target.value)"
                              >
                              <ng-container *ngFor="let item of this.listYears  ">
                                <option [value]="item.year">{{ item.year }}</option>
                              </ng-container>
                              </select>
                            </div>
                          </div> -->
                        </div>
                      </div>
  
                      <!-- <div class="table-responsive" style="display: contents;" >
                        <div style="margin: 5px; height: 100%;">
                          <table class="table table-hover">
                            <thead>
                              <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>
                                  Actions
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                  <button mat-button>Edit</button>
                                </mat-cell>
                              </ng-container>
                              <tr style="text-align: center">
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="titre">Titre<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="type">Type<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="date_debut" data-type="date" >Date début<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="duree" >Durée<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="nbr_postulation" >Nombre de postulations<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="nbr_vue" >Nombre de vues<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col"></th>
                               </tr>
                            </thead>
                            <ng-container
                              *ngIf="
                                this.listStage.length > 0 &&
                                this.listStage[0] !== null
                              "
                            >
                              <tbody
                                *ngFor="
                                  let offre of this.listStage
                                    | filter: searchText
                                    | slice
                                      : (page - 1) * pageSize
                                      : page * pageSize;
                                  let i = index
                                "
                              >
                                <tr style="text-align: center">
                                  <th scope="row">{{ offre.titre }}</th>
                                  <td>
                                    {{
                                      offre.type
                                    }}
                                  </td>
  
                                  <td>
                                    {{
                                      this.sharedService.formatDate(
                                        offre.date_debut
                                      )
                                    }}
                                  </td>
                                  <td>
                                    {{
                                      offre.duree+" mois"
                                    }}
                                  </td>
                                  <td>
                                    {{
                                      offre.nbr_postulation
                                    }}
                                  </td>
                                  <td>
                                    {{
                                      offre.nbr_vue
                                    }}
                                  </td>
  
                                  <td>
                                    <div
                                      ngbDropdown
                                      placement="bottom-right"
                                      class="d-inline-block"
                                    >
                                      <button
                                        class="btn btn-outline-none"
                                        id="dropdownBasic1"
                                        ngbDropdownToggle
                                      >
                                        <i class="fa fa-ellipsis-v"></i>
                                      </button>
                                      <div
                                        ngbDropdownMenu
                                        aria-labelledby="dropdownBasic1"
                                      >
                                        <button
                                          id="{{ offre.id_offre_stage }}"
                                          (click)="
                                            this.showOffre(offre.id_offre_stage)
                                          "
                                          ngbDropdownItem
                                        >
                                          <i class="icofont icofont-eye-alt"></i
                                          >Détails
                                        </button>
                                        <button
                                          [disabled]="offre.nbr_postulation > 0"
                                          id="{{ offre.id_offre_stage }}"
                                          (click)="passerOffre(offre)"
                                          [routerLink]="[
                                            '/dashboard/stage/entreprise/modif'
                                          ]"
                                          ngbDropdownItem
                                        >
                                          <i class="icofont icofont-edit-alt"></i
                                          >Modification
                                        </button>
                                        <button
                                          [disabled]="offre.nbr_postulation > 0"
                                          id="{{ offre.id_offre_stage }}"
                                          (click)="
                                            supprimerOffre(offre.id_offre_stage)
                                          "
                                          ngbDropdownItem
                                        >
                                          <i class="icofont icofont-trash"></i
                                          >Suppression
                                        </button>
                                        <button
                                          id="{{ offre.id_offre_stage }}"
                                          (click)="
                                            closeOpenOffre(offre.id_offre_stage,'2')
                                          "
                                          ngbDropdownItem
                                        >
                                          <i class="icofont icofont-close-squared"></i
                                          >Fermer
                                        </button>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </ng-container>
                            <ng-container *ngIf="this.listStage.length === 0">
                              <tbody>
                                <tr style="text-align: center">
                                  <td colspan="5">
                                    AUCUNE OFFRE OUVERTE POUR L'ANNÉE {{ this.year }} !
                                  </td>
                                </tr>
                              </tbody>
                            </ng-container>
                            <ng-container *ngIf="this.listStage[0] === null">
                              <tbody>
                                <tr style="text-align: center">
                                  <td colspan="5">Chargement ...</td>
                                </tr>
                              </tbody>
                            </ng-container>
                          </table>
                 
                          <div class="d-flex justify-content-between p-2">
                            <ngb-pagination
                              [(page)]="page"
                              [pageSize]="pageSize"
                              [collectionSize]="listStage.length"
                            >
                            </ngb-pagination>
                 
                            <div>
                              Objets par page
  :
                              <select
                                class="custom-select"
                                style="width: auto"
                                name="pageSize"
                                (change)="handlePageSizeChange($event)"
                              >
                                <option
                                  *ngFor="let size of pageSizes"
                                  [ngValue]="size"
                                >
                                  {{ size }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
  
            <ngb-tab title="OFFRES FERMÉES" [id]="2">
              <ng-template ngbTabContent>
                <div class="m-t-15" style="position: relative">
                  <!-- info card start -->
                  <div class="card">
                    <div class="col-sm-12">
                      <div class="card-header">
                        <!-- <h5 class="card-header-text">Liste des offres</h5> -->
                      </div>
  
                      <div class="container">
                        <div class="row">
                          <!-- <div class="col-md-6 col-lg-5 offset-lg-1">
                            <div class="pcoded-search">
                              <div class="pcoded-search-box">
                                <input
                                  type="text"
                                  placeholder="Rechercher"
                                  name="search"
                                  [(ngModel)]="searchText"
                                  autocomplete="off"
                                />
                                <span class="search-icon"
                                  ><i class="ti-search" aria-hidden="true"></i
                                ></span>
                              </div>
                            </div>
                          </div> -->
  
                          <!-- <div class="col-md-6 col-lg-3 offset-lg-2">
                            <div class="input-group">
                              <select
                                ngModel="{{ this.year }}"
                                name="year"
                                class="form-control"
                                (change)="this.changeYear($event.target.value)"
                              >
                                <ng-container *ngFor="let item of this.listYears  ">
                                  <option [value]="item.year">{{ item.year }}</option>
                                </ng-container>
                              </select>
                            </div>
                          </div> -->
                        </div>
                      </div>
  
                      <!-- <div class="table-responsive" style="display: contents;">
                        <div style="margin: 5px; ">
                          <table class="table table-hover">
                            <thead>
                              <ng-container matColumnDef="actions">
                                <mat-header-cell *matHeaderCellDef>
                                  Actions
                                </mat-header-cell>
                                <mat-cell *matCellDef="let row">
                                  <button mat-button>Edit</button>
                                </mat-cell>
                              </ng-container>
                              <tr style="text-align: center">
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="titre">Titre<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="type">Type<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="date_debut" data-type="date" >Date début<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="duree" >Durée<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="nbr_postulation" >Nombre de postulations<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col" [appSort]="listStage" data-order="desc" data-name="nbr_vue" >Nombre de vues<i class="fa fa-sort" style="margin-left: 10px;"></i></th>
                                <th scope="col"></th>
                              </tr>
                            </thead>
                            <ng-container
                              *ngIf="
                                this.listStage.length > 0 &&
                                this.listStage[0] !== null
                              "
                            >
                              <tbody
                                *ngFor="
                                  let offre of this.listStage
                                    | filter: searchText
                                    | slice
                                      : (page - 1) * pageSize
                                      : page * pageSize;
                                  let i = index
                                "
                              >
                                <tr style="text-align: center">
                                 <td >
                                    <ul *ngIf="offre.id_etat_offre_stage=='3'" class="show-notification">
                                      <li>
                                        <label class="label label-danger">Expirée</label>
                                      </li>
                                    </ul>
                                </td> 
  
                                  <th scope="row">{{ offre.titre }}</th>
                                  <td>
                                    {{
                                     offre.type
                                    }}
                                  </td>
                                  <td>
                                    {{
                                      this.sharedService.formatDate(
                                        offre.date_debut
                                        )
                                      }}
                                    </td>
                                    <td>
                                      {{
                                       offre.duree +" mois"
                                      }}
                                    </td>
                                  <td>
                                    {{
                                      offre.nbr_postulation
                                    }}
                                  </td>
                                  <td>
                                    {{
                                      offre.nbr_vue
                                    }}
                                  </td>
  
                                  <td>
                                    <div
                                      ngbDropdown
                                      placement="bottom-right"
                                      class="d-inline-block"
                                    >
                                      <button
                                        class="btn btn-outline-none"
                                        id="dropdownBasic1"
                                        ngbDropdownToggle
                                      >
                                        <i class="fa fa-ellipsis-v"></i>
                                      </button>
                                      <div
                                        ngbDropdownMenu
                                        aria-labelledby="dropdownBasic1"
                                      >
                                        <button
                                          id="{{ offre.id_offre_stage }}"
                                          (click)="
                                            this.showOffre(offre.id_offre_stage)
                                          "
                                          ngbDropdownItem
                                        >
                                          <i class="icofont icofont-eye-alt"></i
                                          >Détails
                                        </button>
                                        <button
                                          [disabled]="offre.nbr_postulation > 0"
                                          id="{{offre.id_offre_stage}}"
                                          (click)="passerOffre(offre)"
                                          ngbDropdownItem
                                        >
                                          <i class="icofont icofont-edit-alt"></i
                                          >Modification
                                        </button>
                                        <button
                                          [disabled]="offre.nbr_postulation > 0"
                                          id="{{ offre.id_offre_stage }}"
                                          (click)="
                                            supprimerOffre(offre.id_offre_stage)
                                          "
                                          ngbDropdownItem
                                        >
                                          <i class="icofont icofont-trash"></i
                                          >Suppression
                                        </button>
                                        <button
                                          id="{{ offre.id_offre_stage }}"
                                          (click)="
                                            closeOpenOffre(offre.id_offre_stage,'1')
                                          "
                                          ngbDropdownItem
                                        >
                                          <i class="icofont icofont-tick-boxed"></i
                                          >Ouvrir
                                        </button>
                                      </div>
                                    </div>
                                  </td>
                                </tr>
                              </tbody>
                            </ng-container>
                            <ng-container *ngIf="this.listStage.length === 0">
                              <tbody>
                                <tr style="text-align: center">
                                  <td colspan="5">
                                    AUCUNE OFFRE FERMÉE POUR L'ANNÉE {{ this.year }} !
                                  </td>
                                </tr>
                              </tbody>
                            </ng-container>
                            <ng-container *ngIf="this.listStage[0] === null">
                              <tbody>
                                <tr style="text-align: center">
                                  <td colspan="5">Chargement ...</td>
                                </tr>
                              </tbody>
                            </ng-container>
                          </table>
                          <div class="d-flex justify-content-between p-2">
                            <ngb-pagination
                              [(page)]="page"
                              [pageSize]="pageSize"
                              [collectionSize]="listStage.length"
                            >
                            </ngb-pagination>
                            <div>
                              Objets par page
  :
                              <select
                                class="custom-select"
                                style="width: auto"
                                name="pageSize"
                                (change)="handlePageSizeChange($event)"
                              >
                                <option
                                  *ngFor="let size of pageSizes"
                                  [ngValue]="size"
                                >
                                  {{ size }}
                                </option>
                              </select>
                            </div>
                          </div>
                        </div>
                      </div> -->
                    </div>
                  </div>
                </div>
              </ng-template>
            </ngb-tab>
          </ngb-tabset>
        </div>
      </div>
    </div>
  </ng-container>